@model IEnumerable<Pai.Models.ProjectModel>

@{
    ViewBag.Title = "Project";
}

<div class="row" style="margin-top:30px;">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">Dashboard</li>
            <li class="list-group-item">My Company</li>
            <li class="list-group-item">My Schedule</li>
            <li class="list-group-item">My Resource</li>
            <li class="list-group-item">My Cloud</li>
            <li class="list-group-item active">My Project</li>
            <li class="list-group-item">My Transactions</li>
            <li class="list-group-item">Get Help</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2>On-going projects</h2>
        <div class="table-responsive">
            <table class="table table-condensed" id="project_table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Created Date</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.Id">
                            <td>
                                @item.ProjectName
                            </td>
                            <td>
                                @item.ProjectOwner
                            </td>
                            <td>
                                @item.ProjectStatus
                            </td>
                            <td>
                                @item.CreatedOn.ToShortDateString()
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Detail", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <svg class="chart">

        </svg>
    </div>
</div>
